<!doctype html>
<html lang="de">
<head>
    <title>MVS</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Messdienerverwaltungssystem (MVS)</h1>
<p>Auf dieser Seite findest du alles, was du brauchst. Falls du noch weitere wünsche hast, melde dich einfach beim
    Administrator deines Vertrauens.</p>
<hr/>
<p>Was möchtest du tun?</p>
<ul>
    <li><a href="add_worship">Dienstplan hochladen</a></li>
    <li><a>Messdienerplan erstellen</a></li>
    <li><a>Messdiener bearbeiten</a></li>
    <br/>
    <li><a>Datenbank zurücksetzen</a></li>
</ul>
</body>